.form-inline {
    .input-group {
        display: block;
        border-bottom: 1px solid var(--#{$prefix}-border);
        min-height: $lineHeight;
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        input[type="url"], 
        input[type="number"], 
        select,
        textarea {
            border: none;
            background: transparent;
            height: $lineHeight;
            box-sizing: border-box;
            &.height-auto {
                height: auto;
            }
        }
        
    }
    .btn {
        line-height: $lineHeight;
        margin-top: 8px;
    }
}

.form-ico {
    .#{$prefix}-input-group {
        position: relative;
        line-height: 2.5rem;
        height: 2.5rem;
        display: block;
        input[type="text"],
        input[type="email"],
        input[type="tel"],
        input[type="password"],
        input[type="url"] {
            padding-left: 1.875rem;
            width: 100%;
            font-size: 1rem;
            font-weight: 400;
            line-height: 1.5;
            height: 2.5rem;
            box-sizing: border-box;
            border: none;
            outline: none;
            border-bottom: 1px solid #767676;
            background-color: transparent;
        }
        .iconfont {
            position: absolute;
            left: 0.625rem;
            transition: all .5s;
            &:nth-child(3) {
                left: auto;
                right: 0.625rem;
            }
        }
        &.input-focus {
            input {
                padding-left: 0;
                padding-right: 1.875rem;
                border-bottom: 2px solid #a10000;
            }
            // .iconfont {
            //     left: 280px;
            //     color: #767676;
            // }
        }
        &.error {
            input {
                border: 1px solid red;
                border-bottom-color: red;
            }
            .iconfont {
                color: red;
            }
        }
        .checkbox {
            position: relative;
            display: inline-block;
            width: 1.875rem;
            height: 1.875rem;
            input[type=checkbox] {
                visibility: hidden;
                &:checked {
                    &+label {
                        &::before {
                            content: "\e646";
                            color: red;
                        }
                    }
                }
            }
            label {
                &::before {
                    font-family: "iconfont";
                    font-size: inherit;
                    text-rendering: auto;
                    content: "\e71e";
                    position: absolute;
                    left: 0.625rem;
                    top: 0;
                }
            }
        }
    }
}