@import "functions";
@import "theme";
@import "root";
@import "mixin";
@import "grid";
@import "dialog";
@import "button";
@import "form";
@import "menu";
@import "tab";
@import "panel";
@import "utilities";

* {
    margin: 0;
    padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
    background-color: var(--#{$prefix}-body);
}

a {
    text-decoration: none;
}

.hide {
    display: none;
}

.scroll-nav {
    position: relative;
    height: 45px;
    background-color: var(--#{$prefix}-panel);
    z-index: 10;
    ul {
        padding-right: 35px;
        font-size: 0;
        font-family: none;
        white-space: nowrap;
        overflow: hidden;
        overflow-x: auto;
        background-color: var(--#{$prefix}-panel);
    }
    li {
        width: 3.75rem;
        text-align: center;
        font-size: 13px;
        display: inline-block;
        vertical-align: top;
        a {
            display: inline-block;
            height: 45px;
            line-height: 45px;
            color: var(--#{$prefix}-body-text);
        }
        &.active {
            a {
                color: var(--#{$prefix}-danger);
                border-bottom: 2px solid var(--#{$prefix}-danger);
            }
        }
    }
    .nav-arrow {
        position: absolute;
        top: 0;
        right: 0;
        width: 35px;
        height: 45px;
        line-height: 45px;
        text-align: center;
        background-color: var(--#{$prefix}-panel);
    }
    &.unfold {
        ul {
            padding-right: 0;
            white-space: normal;
            padding-right: 30px;
        }
    }
}

header,
.header {
    width: 100%;
    height: 2.75rem;
    border-bottom: 0.0625rem solid var(--#{$prefix}-border);
    .brand {
        width: 20%;
        font-size: 1.875rem;
        margin-left: 0.625rem;
        float: left;
    }
    .search-box {
        padding: 0.3125rem;
        line-height: 2.25rem;
        display: grid;
        grid-template-columns: 1fr 3.375rem;
        form {
            position: relative;
        }
        .iconfont {
            position: absolute;
            // top: 10px;
            z-index: 99;
            color: var(--#{$prefix}-secondary-text);
            &.icon-search {
                left: 5px;
            }
            &.icon-times-circle {
                right: 5px;
            }
        }
        input {
            margin-top: 0.125rem;
            width: 100%;
            font-size: 1.25rem;
            padding: 4px 29px;
            box-sizing: border-box;
            outline: none;
            background-color: var(--#{$prefix}-body);
            border: 0;
        }
        .cancel-btn {
            color: var(--#{$prefix}-primary-text);
        }
        .home-btn {
            font-size: 28px;
            .iconfont {
                position: static;
                color: var(--#{$prefix}-primary-text);
            }
        }
        &.under-search {
            grid-template-columns: 54px 1fr;
        }
    }
}

.search-entry {
    background-color: var(--#{$prefix}-body);
    border-radius: 2px;
    font-size: 15px;
    color: var(--#{$prefix}-secondary-text);
    line-height: 36px;
    height: 35px;
    overflow: hidden;
    display: block;
    margin: 5px;
}

.top {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background: var(--#{$prefix}-primary);
    color: var(--#{$prefix}-primary-text);
    text-align: center;
    z-index: 99;
    border: 0;
    .back,
    .right,
    .right-text,
    .btn {
        top: 50%;
        margin-top: -1rem;
        font-size: 1.5625rem;
        color: var(--#{$prefix}-primary-text);
    }
    .back {
        position: absolute;
        left: 0.625rem;
    }
    .btn {
        position: absolute;
        right: 0;
        margin: 0;
        line-height: 2.75rem;
        top: 0;
        padding: 0 0.3125rem;
    }
    .right,
    .right-text {
        position: absolute;
        right: 0.625rem;
    }
    .right-text {
        font-size: 1rem;
        line-height: 30px;
    }
    .title {
        line-height: 2.75rem;
    }
    .top-tab {
        a {
            color: var(--#{$prefix}-primary-text);
            line-height: 44px;
            padding: 0 0.3125rem;
            display: inline-block;
            height: 44px;
            &.active {
                border-bottom: 4px solid;
            }
        }
    }
    
    .logo {
        img {
            max-width: 100%;
            max-height: 44px;
            vertical-align: middle;
        }
    }
    &.top-search-box {
        display: flex;
        padding: 5px 0;
        .logo {
            width: 6.875rem;
            img {
                max-height: 2.0625rem;
            }
        }
        .search-entry {
            flex: 1;
            margin: 0;
        }
        a {
            line-height: 2.25rem;
            color: var(--#{$prefix}-primary-text);
        }
        .icon-item {
            padding-left: .8rem;
            &:last-of-type {
                padding-right: .8rem;
            }
        }
    }
    &.main-header-box {
        display: grid;
        grid-template-columns: 54px 1fr 54px 54px;
        .home-btn,
        .search-btn,
        .top-cart {
            font-size: 28px;
            line-height: 44px;
        }
        .top-cart {
            position: relative;
            .tip {
                display: block;
                position: absolute;
                right: 0;
                top: 0;
                width: 1rem;
                height: 1rem;
                color: var(--#{$prefix}-danger-text);
                background-color: var(--#{$prefix}-danger);
                font-size: 0.625rem;
                line-height: 1rem;
                border-radius: 50%;
                font-style: normal;
            }
        }
    }
    &.fixed {
        position: absolute;
    }
}

.checkout-footer,
.cart-footer,
.fixed-footer,
footer,
.footer {
    position: fixed;
    bottom:  0;
    left: 0;
    width: 100%;
    z-index: 99;
}

footer,
.footer {
    height: 3rem;
    background-color: var(--#{$prefix}-panel);
    border-top: 0.0625rem solid var(--#{$prefix}-border);
    a,
    .item {
        width: 25%;
        text-align: center;
        display: block;
        float: left;
        padding-top: 0.25rem;
        box-sizing: border-box;
        position: relative;
        font-size: .9rem;
        text-decoration: none;
        .tip {
            display: block;
            position: absolute;
            right: 1.875rem;
            top: 0;
            width: 1rem;
            height: 1rem;
            color: var(--#{$prefix}-danger-text);
            background-color: var(--#{$prefix}-danger);
            font-size: 0.625rem;
        }
        &.active {
            color: var(--#{$prefix}-link-hover-text);
        }
        .iconfont {
            font-size: 1.5rem;
            display: block;
        }
    }
    &.comment {
        background-color: rgba(23,12,23,.7);
        a {
            width: 100%;
            text-align: center;
        }
    }
    &.goods-navbar {
        a {
            width: 14%;
            margin: 0;
            &.btn {
                width: 29%;
                padding: 0;
                text-align: center;
                line-height: 3.125rem;
            }
        }
    }
}



.has-header {
    margin-top: 2.75rem;
}
.has-footer {
    margin-bottom: 3.125rem;
}

.banner {
    .slider {
        .slider-point {
            li {
                span {
                    display: none;
                }
            }
        }
    }
}


.goods-list {
    position: relative;
    width: 100%;
    max-width: 100%;
    margin-top: 0.9375rem;
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: .5rem;
}

.product-item {
    position: relative;
    display: block;
    box-sizing: border-box;
    background-color: var(--#{$prefix}-panel);
    padding-bottom: .8rem;
    border-radius: $formRadius;
    .item-thumb {
        img {
            border-radius: $formRadius $formRadius 0 0;
            width: 100%;
            height: 10rem;
            object-fit: contain;
        }
    }
    .item-title {
        display: block;
        width: 100%;
        height: 1.5rem;
        text-align: center;
        color: var(--#{$prefix}-secondary-text);
        font-size: 0.8125rem;
        font-weight: normal;
        line-height: 2rem;
        overflow: hidden;
    }
    .item-actions {
        .item-price {
            color: var(--#{$prefix}-danger);
        }
        .item-btn {
            
        }
    }
}

.product-header-item {
    display: flex;
    background-color: var(--#{$prefix}-primary);
    color: var(--#{$prefix}-primary-text);
    border-radius: $formRadius;
    align-items: center;
    justify-content: center;
}

.panel-container {
    background-color: var(--#{$prefix}-panel);
}

.product-row-item {
    display: flex;
    .item-thumb {
        width: 10rem;
        img {
            width: 100%;
            height: 6rem;
            object-fit: contain;
        }
    }
    .item-body {
        flex: 1;
        padding: .8rem;
    }
    .item-footer {
        display: flex;
        justify-content: space-between;
        align-items: end;
    }
    .item-name {
        line-height: 2.5;
        font-weight: bold;
    }
    .tag-item {
        display: inline-flex;
        line-height: 1.5rem;
        font-size: .8rem;
        border-radius: .2rem;
        border: 1px solid var(--#{$prefix}-danger);
        color: var(--#{$prefix}-danger);
        margin-right: .2rem;
        padding: 0 .4rem 0 .2rem;
        .tag-icon {
            font-style: normal;
            padding-right: .2rem;
            margin-right: .4rem;
            border-right: 1px solid var(--#{$prefix}-danger);
        }

    }
    .item-action {
        border-radius: 50%;
        display: inline-flex;
        width: 2.5rem;
        height: 2.5rem;
        align-items: center;
        justify-content: center;
        font-size: 1.5rem;
        background-color: var(--#{$prefix}-danger);
        color: var(--#{$prefix}-danger-text);
    }
    &:not(:last-of-type) {
        border-bottom: 1px solid var(--#{$prefix}-border);
    }
}

.price-group {
    .price {
        font-size: 1.5rem;
        color: var(--#{$prefix}-danger);
        font-family: arial;
        margin-right: 0.125rem;
        line-height: 1;
        display: inline-block;
        // min-width: 3.125rem;
        em {
            font-size: 0.875rem;
            font-style: normal;
        }
    }
    .old-price {
        display: inline-block;
        font-size: 0.75rem;
        color: var(--#{$prefix}-secondary-text);
        text-decoration: line-through;
    }
}


.home-panel {
    margin-top: 20px;
    .panel-header {
        border-bottom: 1px solid var(--#{$prefix}-border);
        border-top: 1px solid var(--#{$prefix}-border);
        line-height: 40px;
        text-align: center;
        background-color: var(--#{$prefix}-panel);
    }
    .goods-list {
        margin-top: 0;
    }
}

.swipe-box {
    overflow: hidden;
    &.goods-list {
        text-align: left;
        .goods-item {
            background-color: var(--#{$prefix}-panel);
            padding: 5px;
            .goods-img {
                display: inline-block;
                img {
                    width: 4.375rem;
                    height: 4.375rem;
                }
            }
            .goods-info {
                display: inline-block;
                height: 5rem;
                vertical-align: top;
                overflow: hidden;
            }
        }
    }
}

.search-tip-box {
    display: block;
    padding-left: 0.625rem;
    background-color: var(--#{$prefix}-panel);
    li {
        height: 1.875rem;
        line-height: 1.875rem;
        .iconfont {
            font-weight: 100;
            color: var(--#{$prefix}-secondary-text);
        }
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{$prefix}-border);
        }
    }
}

.search-recommend-box {
    .panel {
        padding: 0 0.625rem 0.625rem;
        background-color: var(--#{$prefix}-panel);
        margin-bottom: 0.3125rem;
    }
    .panel-header {
        height: 1.875rem;
        line-height: 1.875rem;
        .iconfont {
            float: right;
            margin-top: 0.5rem;
        }
    }
    .panel-body {
        display: flex;
        flex-wrap: wrap;
        gap: .4rem;
        a {
            background-color: var(--#{$prefix}-body);
            border-radius: 0.125rem;
            color: var(--#{$prefix}-body-text);
            padding: 0 0.8rem;
            line-height: 1.5rem;
            font-size: .8rem;
        }
    }
}

.menu-box {
    position: relative;
    display: block;
    width: 100%;
    background-color: var(--#{$prefix}-panel);
    overflow: hidden;
    border-bottom: 0.0625rem solid var(--#{$prefix}-border);
    .menu-item {
        position: relative;
        float: left;
        display: block;
        width: 20%;
        border: none;
        box-sizing: border-box;
        padding: 0.75rem 0;
        text-decoration: none;
        .menu-icon {
            display: block;
            width: 2.75rem;
            height: 2.75rem;
            margin: 0 auto;
            overflow: hidden;
        }
        .menu-name {
            display: block;
            width: 100%;
            height: 1.5rem;
            line-height: 1.5rem;
            box-sizing: border-box;
            border: none;
            overflow: hidden;
            color: var(--#{$prefix}-secondary-text);
            font-size: 0.875rem;
            font-weight: normal;
            text-align: center;
            margin-top: 0.25rem;
        }
    }
}

.category-page {
    position: relative;
    padding-left: 90px;
    .category-menu {
        overflow-y: auto;
        position: fixed;
        width: 90px;
        z-index: 3;
        left: 0;
        bottom: 48px;
        top: 44px;
        display: block;
        box-sizing: border-box;
        border-right: 0.0625rem solid var(--#{$prefix}-border);
        .menu-item {
            display: block;
            width: 100%;
            height: 3.75rem;
            color: var(--#{$prefix}-body-text);
            font-size: 1rem;
            font-weight: normal;
            line-height: 3.75rem;
            text-align: center;
            box-sizing: border-box;
            border-bottom: 0.0625rem solid var(--#{$prefix}-border);
            &.active {
                border-left: 0.25rem solid var(--#{$prefix}-primary);
                background-color: var(--#{$prefix}-panel);
            }
        }
    }
    .category-main {
        >.item {
            display: none;
            &.active {
                display: block;
            }
        }
    }
    .goods-list {
        margin-top: 0;
    }
    .header {
        line-height: 40px;
        background-color: var(--#{$prefix}-panel);
        padding-left: 10px;
    }
    .banner {
        img {
            width: 100%;
        }
    }
}

.tree-grid {
    .tree-item {
        list-style: none;
        a {
            line-height: 40px;
            background-color: var(--#{$prefix}-panel);
            padding-left: 10px;
            display: block;
            border-top: 1px solid var(--#{$prefix}-border);
        }
    }
    .tree-item-chidren {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        .tree-item {
            a {
                text-align: center;
                &:not(:nth-child(3n - 1)),
                &:not(:last-child) {
                    border-right: 1px solid var(--#{$prefix}-border);
                }
            }
        }
    }
}


.number-box {
    input {
        width: 3.125rem;
        text-align: center;
        border: none;
    }
}

.cart-box {
    .cart-group-item {
        margin: 5px 0;
        background-color: var(--#{$prefix}-panel);
        .group-header {
            line-height: 1.875rem;
            padding: 0 0.8125rem;
        }
        .goods-list {
            margin-top: 0;
        }
    }
    .goods-list {
        display: block;
        .goods-item {
            position: relative;
            background-color: var(--#{$prefix}-panel);
            .check-box {
                font-size: 1rem;
                width: 2rem;
                text-align: center;
                position: relative;
                margin-left: .4rem;
                top: -2rem;
            }
            .number-box {
                position: absolute;
                right: 0;
                bottom: 0;
            }
            .goods-info {
                width: calc(100% - 8rem);
                height: 4.375rem;
                margin: 0;
                h4 {
                    overflow: hidden;
                    height: 2.7rem;
                }
            }
        }
    }
    .cart-item {
        margin-bottom: 0.625rem;
    }
}

.cart-footer {
    bottom: 3rem;
    background-color: var(--#{$prefix}-panel);
    .check-box {
        margin-left: .8rem;
        font-size: 1rem;
        width: 3.125rem;
        text-align: center;
    }
    span {
        line-height: 1.875rem;
    }
    .cart-amount {
        float: right;
        .btn {
            line-height: 2rem;
            margin-right: 0;
            // line-height: 2rem;
        }
    }
}


.empty-cart-box {
    text-align: center;
    padding-top: 30vh;
    line-height: 3.125rem;
    p {
        font-size: 1.875rem;
        color: var(--#{$prefix}-border);
    }
    .btn {
        background-color: transparent;
        border: 1px solid;
    }
}

.checkout-box,
.order-box {
    .address-box {
        padding: 0 2rem 0 3.75rem;
        position: relative;
        .iconfont {
            position: absolute;
            font-size: 2.5rem;
            top: 0.75rem;
            &.icon-map {
                left: 1.1875rem;
                color: var(--#{$prefix}-secondary-text);  
            }
            &.icon-chevron-right {
                right: 0.3125rem;
            }
        }
        .name {
            font-size: 1.875rem;
        }
        .tel {
            margin-left: .4rem;
            color: var(--#{$prefix}-secondary-text);  
        }
        .default {
            background-color: var(--#{$prefix}-danger);
            color: var(--#{$prefix}-danger-text);
            padding: 0.125rem 0.4375rem;
        }
        &.empty-address {
            height: 3.875rem;
            h3 {
                line-height: 3.875rem;
            }
        }
    }
    .goods-list {
        .goods-item {
            .goods-info {
                display: inline-block;
                height: 5rem;
                vertical-align: top;
                overflow: hidden;
                .amount {
                    position: absolute;
                    right: 0;
                    bottom: 0;
                }
            }
        }
    }
}
.checkout-box,
.order-box,
.comment-list-box,
.collect-page {
    .goods-list {
        text-align: left;
        display: block;
        margin-top: 0;
        .goods-item {
            position: relative;
            background-color: var(--#{$prefix}-panel);
            display: grid;
            grid-template: 70px / 80px 1fr;
            padding: 5px;
            .goods-img {
                display: inline-block;
                img {
                    width: 70px;
                    height: 70px;
                }
            }
            .goods-info {
                display: inline-block;
                height: 70px;
                vertical-align: top;
                overflow: hidden;
                margin-bottom: 0;
                position: relative;
            }
        }
    }
}

.checkout-box {
    .money-header {
        padding: 20px;
        text-align: center;
        font-size: 40px;
        background: var(--#{$prefix}-primary);
        color: var(--#{$prefix}-primary-text);
        em {
            font-style: normal;
            font-size: 20px;
        }
    }
    .address-box {
        border-bottom: 0.0625rem solid;
    }
    @include lineItem();
    .shipping-box,
    .payment-box {
        border-bottom: 0.0625rem solid;
        line-height: 2rem;
        .dialog-select-input {
            border: none;
            line-height: 2rem;
            height: 2rem;
        }
    }
}

.checkout-footer {
    text-align: right;
    border-top: 0.0625rem solid var(--#{$prefix}-danger);
    background-color: var(--#{$prefix}-panel);
    .btn {
        margin: 0 0 0 0.3125rem;
        line-height: 2.5rem;
        background-color: var(--#{$prefix}-danger);
        color: var(--#{$prefix}-primary-text);
    }
}

// .goods-gallary-box {
//     img {
//         height: 22.5rem;
//         max-width: 100%;
//     }
// }

.goods-info {
    margin-bottom: 20px;
    background-color: var(--#{$prefix}-panel);
    .goods-header {
        position: relative;
        .goods-name {
            margin-right: 3.125rem;
            line-height: 3.125rem;
            font-size: 16px;
        }
        .goods-collect {
            position: absolute;
            top: 0;
            right: 0;
            width: 3.125rem;
            height: 3.125rem;
            text-align: center;
            .like-icon {
                @include icon("\e6b4", 26px);
                display: block;
            }
            &.active {
                .like-icon {
                    color: var(--#{$prefix}-danger);
                    &::before {
                        content: "\e6b3";
                    }
                }
            }
        }
    }
    .goods-price {
        color: var(--#{$prefix}-danger);
        font-weight: 700;
        font-size: 1.25rem;
    }
    .promote-line {
        display: grid;
        grid-template-columns: 50px 1fr 35px;
        border-top: 1px solid var(--#{$prefix}-border);
        line-height: 40px;
    }
}

.comment-box {
    background-color: var(--#{$prefix}-panel);
    border-bottom: 1px solid var(--#{$prefix}-border);
    .comment-header {
        position: relative;
        border-bottom: 1px solid var(--#{$prefix}-border);
        padding: 10px;
        font-size: 20px;
        .iconfont {
            position: absolute;
            right: 0;
            font-size: 28px;
        }
    }
    .comment-subtotal {
        line-height: 2.5rem;
        padding-left: 0.625rem;
        .score {
            display: inline-block;
        }
    }
    .comment-stats {
        padding: 0.625rem;
        a {
            border-radius: 2px;
            background-color: var(--#{$prefix}-body);
            margin: 0 10px 7px 0;
            padding: 0 5px;
            height: 25px;
            line-height: 25px;
            font-size: 10px;
            color: var(--#{$prefix}-secondary-text);
            display: inline-block;
        }
    }
    .comment-more {
        text-align: center;
        display: block;
    }
    .comment-item {
        .item-header {
            display: grid;
            grid-template-columns: 2.4375rem 1fr 6.875rem;
            .avatar {
                img {
                    width: 100%;
                    height: 100%;
                }
            }
        }
        .score {
            margin-bottom: 10px;
        }
        .time {
            color: var(--#{$prefix}-secondary-text);
            .attr {
                display: inline-block;
            }
        }
        .content {
            line-height: 1.25rem;
            font-size: 0.875rem;
            color: var(--#{$prefix}-body-text);
            margin-bottom: 0.625rem;
            word-break: break-word;
        }
        .image-box {
            margin: 0.625rem 0;
            li {
                display: inline-block;
                margin-right: 0.625rem;
                list-style-type: none;
                width: 5rem;
                height: 5rem;
                text-align: center;
                img {
                    margin: auto;
                    max-height: 100%;
                    max-width: 100%;
                }
            }
        }
    }
}

.recomment-box {
    background-color: var(--#{$prefix}-panel);
    .recommend-header {
        line-height: 40px;
        padding-left: 10px;
    }
    .goods-list {
        grid-template-columns: 1fr 1fr 1fr;
        grid-gap: 5px;
        margin-top: 0;
    }
}



.tab-box.goods-content {
    margin-top: 1.25rem;
    .tab-header {
        background-color: var(--#{$prefix}-panel);
        .tab-item {
            width: 33%;
            line-height: 40px;
            height: 40px;
            &.active {
                border: none;
            }
        }
    }
    
    img {
        max-width: 100%;
        display: block;
    }
}

.static-properties-box {
    display: table;
    width: 100%;
    dl {
        display: table-row;
        dt,
        dd {
            display: table-cell;
            line-height: 30px;
        }
        dt {
            font-size: 700;
        }
    }
}

.activity-box {
    display: grid;
    grid-template: 50px / 80px 1fr 120px;
    background-color: var(--#{$prefix}-danger);
    color: var(--#{$prefix}-danger-text);
    .price {
        font-size: 26px;
        text-align: center;
        padding-top: 7px;
        em {
            font-size: 12px;
            font-style: normal;
        }
    }
    .info {
        .old-price {
            color: var(--#{$prefix}-border);
            text-decoration: line-through solid var(--#{$prefix}-border);
        }
        .time-block {
            vertical-align: middle;
            line-height: 0.9375rem;
            font-size: 0.625rem;
        }
    }
    .countdown {
        text-align: center;
        background-color: var(--#{$prefix}-body);
        padding-top: 0.4375rem;
        .text {
            color: var(--#{$prefix}-body-text);
            font-size: 0.625rem;
        }
        .time {
            color: var(--#{$prefix}-danger);
            font-size: 0.75rem;
            span {
                background-color: var(--#{$prefix}-danger-text);
                border: 1px solid var(--#{$prefix}-border);
            }
        }
    }
}

.cart-dialog {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 110;
    background-color: var(--#{$prefix}-dialog-mask);
    .dialog-body {
        position: absolute;
        transform: translate3d(0,0,0);
        width: 100%;
        min-height: 375px;
        max-height: 475px;
        bottom: 0;
        background-color: var(--#{$prefix}-panel);
        transition: transform .2s cubic-bezier(0,0,.25,1),-webkit-transform .2s cubic-bezier(0,0,.25,1);
    }
    .dialog-footer {
        position: absolute;
        bottom: 0;
        display: flex;
        background-color: var(--#{$prefix}-panel);
        width: 100%;
        .dailog-yes {
            height: 50px;
            line-height: 50px;
            color: var(--#{$prefix}-danger-text);
            font-size: 16px;
            text-align: center;
            background-color: var(--#{$prefix}-danger);
            display: block;
            width: 100%;
            flex: 1;
        }
    }
    .dialog-header {
        height: 70px;
        padding: 0 0 10px 110px;
        background-color: var(--#{$prefix}-panel);
        position: relative;
        line-height: 46px;
        font-size: 16px;
        color: var(--#{$prefix}-body-text);
        img {
            position: absolute;
            left: 10px;
            top: -20px;
            border-radius: 2px;
            width: 90px;
            height: 90px;
        }
        .price {
            display: inline-block;
            height: 2.5rem;
            line-height: 2.5rem;
            color: var(--#{$prefix}-danger);
            font-size: 0.625rem;
        }
        .selected-property,
        .stock {
            word-break: break-all;
            font-size: 12px;
            color: var(--#{$prefix}-body-text);
            line-height: 1.4em;
            padding-right: 10px;
            overflow: hidden;
            text-overflow: ellipsis;
        }
        .dialog-close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 10px;
        }
    }
    .property-box {
        margin-bottom: 50px;
        overflow-y: auto;
        max-height: 60vh;
        .number-box {
            float: right;
        }
        .group {
            .group-header {
                font-size: 12px;
                color: var(--#{$prefix}-secondary-text);
                margin: 0 10px;
                height: 40px;
                line-height: 40px;
            }
            .group-body {
                overflow: hidden;
                margin-bottom: 3px;
                span {
                    display: inline-block;
                    padding: 0 10px;
                    min-width: 20px;
                    max-width: 270px;
                    overflow: hidden;
                    height: 30px;
                    line-height: 30px;
                    text-align: center;
                    margin-left: 10px;
                    margin-bottom: 10px;
                    border-radius: 4px;
                    color: var(--#{$prefix}-body-text);
                    background-color: var(--#{$prefix}-body);
                    font-size: 14px;
                    cursor: pointer;
                    &.active {
                        background-color: var(--#{$prefix}-danger);
                        color: var(--#{$prefix}-danger-text);
                    }
                    &.disable {
                        background-color: var(--#{$prefix}-gray);
                        color: var(--#{$prefix}-gray-text);
                        cursor: not-allowed;
                    }
                }
            }
        }
        .count-box {
            padding: 0 10px;
            span {
                font-size: 12px;
                color: var(--#{$prefix}-secondary-text);
            }
        }
    }
}

.user-header {
    position: relative;
    padding-top: 1.5625rem;
    padding-bottom: 1.875rem;
    background: var(--#{$prefix}-primary);
    .avatar {
        width: 5.625rem;
        height: 5.625rem;
        margin: 0 auto;
        text-align: center;
        line-height: 0;
        position: relative;
        img {
            width: 100%;
            height: 100%;
            border-radius: 100%;
        }
        &::after {
            content: "";
            width: 6.25rem;
            height: 6.25rem;
            border: 0.125rem solid var(--#{$prefix}-border);
            border-radius: 100%;
            position: absolute;
            left: -0.3125rem;
            top: -0.3125rem;
            z-index: 0;
        }
    }
    .name {
        text-align: center;
        padding-top: 0.625rem;
        color: var(--#{$prefix}-primary-text);
    }
}

.menu-grid {
    display: flex;
    background-color: var(--#{$prefix}-panel);
    .item {
        flex: 1;
        border-right: 0.0625rem dotted var(--#{$prefix}-border);
        text-align: center;
        box-sizing: border-box;
        line-height: $lineHeight;
        &:nth-child(5n) {
            border: 0;
        }
    }
}
.menu-large {
    display: grid;
    grid-template-columns: 1fr 1fr;
    .item {
        border-right: 0.0625rem dotted var(--#{$prefix}-border);
        border-top: 0.0625rem dotted var(--#{$prefix}-border);
        height: 4.375rem;
        text-align: center;
        position: relative;
        display: inline-flex;
        align-items: center;
        justify-content: center;
        .iconfont {
            font-size: 3.125rem;
            // margin-top: 0.625rem;
        }
        span {
            line-height: 2.75rem;
            // vertical-align: text-bottom;
            display: inline-block;
        }
        .tip {
            position: absolute;
            top: 0;
            left: 50%;
            background: var(--#{$prefix}-danger);
            color: var(--#{$prefix}-danger-text);
            border-radius: 50%;
            text-align: center;
            line-height: 1.1875rem;
            font-size: 0.75rem;
            width: 1.25rem;
            height: 1.25rem;
            font-style: normal;
        }
        &:nth-child(even) {
            border-right: 0;
        }
        &:first-child,
        &:nth-child(2) {
            border-top: 0;
        }
    }
}

.menu-panel {
    .panel-header {
        @include menuA();
    }
    .panel-body {
        display: flex;
        a {
            flex: 1;
            display: inline-block;
            border-right: 0.0625rem dotted var(--#{$prefix}-border);
            text-align: center;
            .menu-item-icon {
                font-size: 3.125rem;
                display: block;
            }
            &:last-child {
                border-right: 0; 
            }
        }
    }
}



.menu-list {
    background-color: var(--#{$prefix}-panel);
    padding: 0 0.625rem;
    a {
        @include menuA();
        margin-top: 0;
        padding: 0.625rem 0;
        &:not(:last-child) {
            border-bottom: 1px solid var(--#{$prefix}-border);
        }
    }
}

.profile-box,
.account-box {
    margin-bottom: 2rem;
    background-color: var(--#{$prefix}-panel);
    padding: 0 10px;
    @include lineItem();
    .avatar-item {
        line-height: 5rem;
        .iconfont {
            // top: 2rem;
        }
        .avatar {
            width: 5rem;
            height: 5rem;
            border-radius: 50%;
            padding: 5px;
            img {
                width: 4.375rem;
                height: 4.375rem;
            }
        }
    }
    .line-item {
        border-top: 1px solid var(--#{$prefix}-border);
    }
}
.account-box {
    .line-item {
        .iconfont {
            margin-right: 0.625rem;
        }
        &:first-child {
            border-top: none;
        }
    }
    .item-header {
        display: inline-block;
        .iconfont {
            position: static;
            margin-right: .4rem;
        }
    }
    .item-platform {
        user-select: none;
    }
    .meta-text,
    .item-platform {
        font-size: .8rem;
        color: var(--#{$prefix}-secondary-text);
    }
}

.del-btn {
    margin: 0.875rem;
    box-sizing: border-box;
    padding: 0.375rem;
    display: block;
    text-align: center;
}

.share-box {
    text-align: center;
}



.fixed-footer {
    .btn {
        width: 100%;
        margin: 0;
        line-height: 2.5rem;
    }
}

.address-list {
    .address-item {
        position: relative;
        .address-first {
            position: absolute;
            top: 0.9375rem;
            left: 0.3125rem;
            width: 3.125rem;
            height: 3.125rem;
            line-height: 3.125rem;
            border-radius: 50%;
            background-color: var(--#{$prefix}-body-text);
            color: var(--#{$prefix}-body);
            text-align: center;
            img {
                width: 100%;
                height: 100%;
                border-radius: 50%;
            }
        }
        .address-info {
            margin-left: 3.75rem;
            h3 {
                line-height: 40px;
            }
            .name {
                font-size: 1.875rem;
            }
            .tel {
                
            }
            .default {
                background: var(--#{$prefix}-danger);
                color: var(--#{$prefix}-danger-text);
                padding: 0.125rem 0.4375rem;
            }
        }
        &.selected {
            .address-first {
                background-color: transparent;
                color: var(--#{$prefix}-danger);
                &::before {
                    @include iconFont();
                    font-size: 1.625rem;
                    content: "\f058";
                }
                span {
                    display: none;
                }
            }
        }
    }
}

.order-box {
    .order-item {
        background-color: var(--#{$prefix}-panel);
        .order-header {
            line-height: 30px;
            .status {
                float: right;
            }
        }
        .order-amount {
            text-align: right;
        }
        .goods-list {
            .goods-item {
                background-color: var(--#{$prefix}-body);
            }
            .goods-info {
                background-color: var(--#{$prefix}-body);
                margin: 0;
            }
        }
    }
    .goods-list {
        margin-top: 0;
        .goods-item {
            padding: 5px;
            &:not(:last-of-type) {
                padding-bottom: 0px;
            }
        }
        .goods-info {
            margin: 0;
        }
    }
    .order-footer {
        text-align: right;
        .order-actions {
            line-height: 30px;
            a {
                padding: 0 5px;
            }
        }
    }
    @include lineItem();
    .line-item {
        span:nth-child(2) {
            margin-right: 0;
        }
    }
    .text-right {
        text-align: right;
    }
    .status-header {
        padding: 10px 20px 30px;
        background-color: var(--#{$prefix}-primary);
        color: var(--#{$prefix}-primary-text);
        text-align: center;
        font-size: 30px;
    }
}

.login-type-box,
.login-box,
.register-box {
    text-align: center;
    padding: 10px;
    .logo {
        padding: 30px 0;
    }
    .btn,
    button {
        display: block;
        margin: 0 0 0.625rem;
        line-height: 2.5rem;
    }
    button {
        width: 100%;
    }
    .login-oauth-box {
        position: absolute;
        left: 0;
        width: 100%;
        bottom: 40px;
        text-align: center;
        font-size: 20px;
        a {
            display: inline-block;
            padding: 0 10px;
            &:not(:last-child) {
                border-right: 1px solid var(--#{$prefix}-border);
            }
        }
    }
    .input-group {
        text-align: left;
    }
    .input-box,
    .code-input {
        border-bottom: 1px solid var(--#{$prefix}-border);
        input {
            height: 40px;
            border: 0;
            background: transparent;
            width: 100%;
            outline:none;
        }
    }
    .code-input {
        display: grid;
        grid-template-columns: 1fr 80px;
        a {
            border: 1px solid;
            font-size: 12px;
            line-height: 40px;
        }
    }
    .unlogin {
        line-height: 40px;
        text-align: left;
        a {
            &:last-child {
                float: right;
            }
        }
    }
    .input-group {
        .checkbox {
            label::before {
                top: 3px;
            }
        }
    }
}

.register-box {
    button {
        margin-top: 0.625rem;
    }
}

.more-load {
    text-align: center;
    line-height: 1.875rem;
    color: var(--#{$prefix}-secondary-text);
}

.coupon-item {
    display: grid;
    grid-template-columns: 75px 1fr 75px;
    height: 6.25rem;
    background-color: var(--#{$prefix}-panel);
    margin-bottom: 10px;
    .thumb {
        padding-top: 20px;
        text-align: center;
        img {
            width: 60px;
            height: 60px;
        }
    }
    .info {
        position: relative;
        padding-top: 10px;
        .discount {
            position: absolute;
            left: 0;
            bottom: 7px;
            dd {
                font-size: 18px;
                color: #7eacf4;
                margin-bottom: -5px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
            dt {
                font-size: 12px;
                color: #7eacf4;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
        .price {
            color: #7eacf4;
            font-size: 14px;
            position: absolute;
            left: 0;
            bottom: 0;
            font-family: font_helvetica;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
            em {
                display: inline-block;
                vertical-align: -2px;
                margin-right: 6px;
                font-size: 30px;
                font-style: normal;
            }
        }
    }
    .action {
        background-color: #7eacf4;
        text-align: center;
        i {
            color: var(--#{$prefix}-primary-text);
            font-size: 12px;
            font-style: normal;
        }
        .status-icon {
            margin: 20px 14px 0;
            padding: 9px 0;
            display: block;
            font-size: 12px;
            box-sizing: border-box;
            border: 2px solid var(--#{$prefix}-primary-text);
            color: var(--#{$prefix}-primary-text);
            border-radius: 50%;
            width: 50px;
            height: 50px;
            &.status-received,
            &.status-close {
                font-size: 30px;
                font-weight: 900;
                border: none;
                color: rgba(255,255,255,.6);
                width: 100%;
                border-radius: 0;
                margin: 20px 0 0;
            }
            &.status-close {
                margin: 10px 0 0;
            }
        }
    }
}



.my-coupon-item {
    display: grid;
    grid-template-columns: 100px 1fr;
    height: 114px;
    background-color: var(--#{$prefix}-panel);
    margin: 5px 0;
    .price {
        background-color: var(--#{$prefix}-danger);
        color: var(--#{$prefix}-danger-text);
        text-align: center;
        padding: 30px 0 0;
        em {
            font-style: normal;
            font-size: 30px;
        }
    }
    .info {
        padding-top: 10px;
        position: relative;
        .time {
            position: absolute;
            bottom: 35px;
            line-height: 20px;
            width: 100%;
            font-size: 12px;
            a {
                color: var(--#{$prefix}-danger);
                border: 1px solid var(--#{$prefix}-danger);
                border-radius: 5px;
                padding: 0 3px;
                float: right;
            }
        }
    }
    &.expired {
        .price {
            background-color: var(--#{$prefix}-border);
        }
    }
}

.search-back-box {
    background: var(--#{$prefix}-primary);
    color: var(--#{$prefix}-primary-text);
    position: relative;
    height: 44px;
    padding: 5px 5px 0 40px;
    .back {
        position: absolute;
        top: 50%;
        margin-top: -1rem;
        font-size: 1.5625rem;
        color: var(--#{$prefix}-primary-text);
        left: 0.625rem;
    }
    .search-entry {
        margin: 0;
        text-align: center;
    }
}

.store-header {
    height: auto;
    border-bottom: none;
    .tab-bar {
        position: static;
        padding-top: 14px;
        border-top: none;
        a {
            &.active {
                border-bottom: 2px solid var(--#{$prefix}-body-text);
            }
        }
    }
    .store-info {
        display: grid;
        grid-template-columns: 3.125rem 1fr 3.75rem;
        grid-gap: 8px;
        padding: 30px 8px 8px;
        .logo {
            img {
                width: 50px;
                height: 50px;
            }
        }
        .info {
            padding-top: 6px; 
            .name {
                font-size: 16px;
                font-weight: 700;
            }
        }
        .action {
            padding-top: 20px;
            a {
                background-color: var(--#{$prefix}-danger);
                border: 1px solid var(--#{$prefix}-danger);
                border-radius: 50px;
                overflow: hidden;
                padding: 0 7px;
                line-height: 23px;
                white-space: nowrap;
                font-size: 12px;
                color: var(--#{$prefix}-danger-text);
            }
        }
    }
}

.store-page {
    .store-header {
        position: absolute;
        top: 0;
        z-index: 7;
        background-color: var(--#{$prefix}-body);
    }
    .store-body {
        margin-top: 184px;
    }
    &.min,
    &.min-up {
        .store-header {
            position: fixed;
        }
    }
    &.min {
        .store-header {
            .search-back-box,
            .store-info {
                display: none;
            }
        }

    }
    &.min-up {
        .store-header {
            .store-info {
                display: none;
            }
        }
    }
}

.log-hr,
.payment-hr {
    line-height: 30px;
    padding-left: 20px;
}

.log-item,
.order-mini-item {
    position: relative;
    background-color: var(--#{$prefix}-panel);
    padding: 0 20px;
    .info {
        padding: 10px 80px 10px 0;
        p {
            font-size: 12px;
            color: var(--#{$prefix}-secondary-text);
        }
        .name {
            font-size: 16px;
        }
    }
    .amount {
        color: var(--#{$prefix}-danger);
        font-size: 20px;
        position: absolute;
        right: 20px;
        top: 14px;
    }
    &:not(:last-of-type) {
        .info {
            border-bottom: 1px solid var(--#{$prefix}-border);
        }
    }
}

.order-mini-item {
    .check-box {
        position: absolute;
        top: 20px;
    }
    .info {
        padding-left: 30px;
    }
}
.has-double-footer {
    margin-bottom: 88px;
}

.invoice-footer {
    display: grid;
    grid-template: 44px 44px / 1fr 100px;
    position: fixed;
    bottom: 0;
    width: 100%;
    padding-left: 20px;
    background-color: var(--#{$prefix}-panel);
    >div {
        &:first-child,
        &:nth-child(2) {
            line-height: 44px;
        }
        &:nth-child(2) {
            text-align: right;
        }
        &:nth-child(2),
        &:nth-child(3) {
            font-size: 12px;
            p {
                line-height: 22px;
                &:first-child {
                    color: var(--#{$prefix}-danger);
                }
            }
        }
    }
    a {
        width: 100%;
        line-height: 44px;
        text-align: center;
        background-color: var(--#{$prefix}-danger);
        color: var(--#{$prefix}-primary-text);
        display: block;
    }
}

.payment-item {
    display: grid;
    grid-template: 40px / 40px 1fr 40px;
    grid-gap: 10px;
    line-height: 40px;
    background-color: var(--#{$prefix}-panel);
    .icon {
        text-align: center;
        img {
            width: 40px;
            height: 40px;
        }
    }
    &.active {
        .status {
            i {
                &::before {
                    content: "\f00c";
                }
            }
        }
    }
}

.payment-list {
    .payment-item {
        &:not(:last-of-type) {
            border-bottom: 1px solid var(--#{$prefix}-border);
        }
    }
}

.account-header,
.affiliate-header {
    background-color: var(--#{$prefix}-primary);
    padding: 20px;
    color: var(--#{$prefix}-primary-text);
    .money {
        font-size: 40px;
        font-weight: 700;
    }
    p {
        color: var(--#{$prefix}-secondary-text);
        font-size: 12px;
        line-height: 20px;
    }
}

.affiliate-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    >div:first-child {
        border-right: 1px solid var(--#{$prefix}-border);
    }
}

.comment-list-box {
    .comment-btn {
        border: 1px solid;
        padding: 0 10px;
        line-height: 20px;
        position: absolute;
        bottom: 0;
        right: 0;
    }
}

.comment-form-item {
    position: relative;
    .goods-img {
        position: absolute;
        top: 10px;
        left: 10px;
        img {
            width: 70px;
            height: 70px;
        }
    }
    .comment-star {
        margin-left: 100px;
        padding: 40px 0;
        .iconfont {
            font-size: 20px;
            &.active {
                color: var(--#{$prefix}-danger);
            }
        }
    }
    .comment-input {
        textarea {
            width: 100%;
            resize: none;
            height: 100px;
        }
    }
    .input-radio {
        line-height: 1.875rem;
        position: relative;
        .iconfont {
            position: absolute;
            right: 0.625rem;
            font-size: 1.5625rem;
            top: 0.125rem;
        }
    }
    .btn {
        background-color: var(--#{$prefix}-danger);
        color: var(--#{$prefix}-primary-text);
        width: 80%;
        margin: 0 auto;
        display: block;
    }
}

.multi-image-box {
	border: 1px dotted;
	padding: 5px;
	.image-item {
		display: inline-block;
		position: relative;
		background-color: var(--#{$prefix}-panel);
		.iconfont {
			position: absolute;
			top: 0;
			right: 0;
			background-color: rgba(#333, .2);
			border-radius: 50%;
			display: block;
			width: 1.25rem;
			height: 1.25rem;
			text-align: center;
			line-height: 20px;
		}
		img {
			width: 3.75rem;
			height: 3.75rem;
		}
	}
	.add-item {
		display: inline-block;
		width: 3.75rem;
		height: 3.75rem;
		text-align: center;
		font-size: 2.5rem;
		vertical-align: top;
	}
}

.dialog.dialog-content {
    bottom: 0px;
    top: 38%;
    .dialog-header {
        background-color: var(--#{$prefix}-panel);
        color: var(--#{$prefix}-body-text);
        border: none;
        .dialog-close {
            background-color: var(--#{$prefix}-panel);
            color: var(--#{$prefix}-body-text);
        }
        .dialog-title {
            font-weight: 700;
        }
    }
    .dialog-footer {
        border: none;
        .dialog-yes {
            background-color: var(--#{$prefix}-danger);
            width: 80%;
        }
    }
    .money-input {
        em {
            font-style: normal;
        }
        input {
            height: 50px;
            font-size: 30px;
            outline: 0;
            border: none;
            width: 80%;
        }
    }
    .row-input {
        input,
        select {
            width: 100%;
            height: 36px;
            outline: 0;
            border: 1px solid var(--#{$prefix}-border);
            padding: 0 10px
        }
    }
}

.title-list {
    .title-item {
        background-color: var(--#{$prefix}-panel);
        padding-left: 10px;
        .name {
            font-weight: 700;
            font-size: 16px;
            line-height: 30px;
        }
        p {
            font-size: 12px;
            color: var(--#{$prefix}-secondary-text);
            line-height: 20px;
        }
    }
}

.form-table {
    .input-group {
        display: grid;
        grid-template-columns: 100px 1fr;
        background-color: var(--#{$prefix}-panel);
        > label:first-child {
            padding: 0;
            width: auto;
            line-height: 36px;
        }
        >div {
            width: auto;
            padding-left: 10px;
            input,
            input[type="text"],
            select {
                width: 100%;
                height: 36px;
                outline: 0;
                border: 1px solid var(--#{$prefix}-border);
                background-color: transparent;
            }
        }
    }
}


.input-box,
.code-input {
    border-bottom: 1px solid var(--#{$prefix}-border);
    input {
        height: 2.5rem;
        border: 0;
        background: transparent;
        width: 100%;
        outline: none;
        text-align: left;
    }
    textarea {
        background: transparent;
        width: 100%;
        outline: none;
        border: 0;
        resize: vertical;
        min-height: 5rem;
    }
}